/* 主页半透明度 */
.layout_page {
  opacity: 0.9;
}

/* 取消页脚背景 */
#footer {
  background: none;
}

/* 取消banner背景 */
#page-header {
  /* 采用透明的方式取消，最后一个0表示透明 */
  background-color: rgba(255, 255, 255, 0);
}

/* 滚动条优化 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #ec29f3;
}

/* 阅读模式 */
.read-mode {
  /* 字体大小 */
  font-size: 17px;
  /* 可以在这里引入自定义字体，具体方法请自行百度css引入字体 */
}
.read-mode #web_bg {
  /* 背景颜色 */
  background: #fdf6e3;
}

/* 隐藏按钮不消失 */
.hide-block>a.hide-button.open, .hide-inline>a.hide-button.open {
  display: inline-block;
}
/* 用于修复隐藏按钮的hover问题 */
#article-container a:hover {
  text-decoration: none;
  cursor: pointer;
}